<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Password Reset</title>
</head>

<body>
  <h1>Password Reset Request</h1>
  <p>Hello {{name}},</p>
  <p>We received a request to reset your password. Click the link below to reset your password:</p>
  <p><a href="{{resetLink}}">Reset Password</a></p>
  <p>If you did not request a password reset, please ignore this email or contact support if you have questions.</p>
  <p>Thank you,</p>
  <p>MePro Team</p>
</body>

</html>
